*{
    margin: 5px;
    padding: 0px;
}

#h{
    text-align: center;
    text-decoration: underline;
    color: rgb(39, 26, 51);
}

#container{
    height: 550px;
    width: 800px;
    margin-left: 300px;
    background-color: cadetblue;
    border: 3px solid black;
    display: flex;
    align-items: center;
    
    /* align self properties*/
}
#b1{
    align-self: flex-end;
}
#b4{
    align-self: flex-start;
}

.box{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: yellow;
    border: 3px solid black;
    
}